table {
    border: 1px solid black;
}

th {
    text-align: left;
    padding: 0.5em;
}

#django-search,
#htmx-search {
    border: 1px solid black;
}

td {
    padding: 0.5em;
}

#indicator {
    display: inline;
}
